##
## Velocity Template for DisplayAttributeReleasePage view-state
##
## Velocity context will contain the following properties :
##
## attributeReleaseContext - context holding consentable attributes
## attributeReleaseFlowDescriptor - attribute consent flow descriptor
## attributeDisplayNameFunction - function to display attribute name
## consentContext - context representing the state of a consent flow
## encoder - HTMLEncoder class
## flowExecutionKey - SWF execution key (this is built into the flowExecutionUrl)
## flowExecutionUrl - form action location
## flowRequestContext - Spring Web Flow RequestContext
## profileRequestContext - OpenSAML profile request context
## request - HttpServletRequest
## response - HttpServletResponse
## rpUIContext - context with SP UI information from the metadata
## environment - Spring Environment object for property resolution
#set ($serviceName = $rpUIContext.serviceName)
#set ($serviceDescription = $rpUIContext.serviceDescription)
#set ($informationURL = $rpUIContext.informationURL)
#set ($privacyStatementURL = $rpUIContext.privacyStatementURL)
#set ($rpOrganizationLogo = $rpUIContext.getLogo())
#set ($rpOrganizationName = $rpUIContext.organizationName)
##
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="$request.getContextPath()/css/consent.css">
    	<link rel="stylesheet" type="text/css" href="$request.getContextPath()/instruct/css/consent.css">
        <title>#springMessageText("idp.attribute-release.title", "Information Release")</title>
    </head>
    <body>
        <form action="$flowExecutionUrl" method="post" style="padding:10px" >
            <div class="box">
                <header>
                    <img src="$request.getContextPath()#springMessage("idp.logo")" alt="#springMessageText("idp.logo.alt-text", "logo")" class="federation_logo">
                    #if ($rpOrganizationLogo)
                        <img src="$encoder.encodeForHTMLAttribute($rpOrganizationLogo)" alt="logo for $encoder.encodeForHTMLAttribute($serviceName)" class="organization_logo">
                    #end
                </header>
                #if ($serviceName)
                    <p style="margin-top: 70px;">
                        #springMessageText("idp.attribute-release.serviceNameLabel", "You are about to access the service:")<br>
                        <span class="service_name">$serviceName</span>
                        #if ($rpOrganizationName)
                            #springMessageText("idp.attribute-release.of", "of") <span class="organization_name">$encoder.encodeForHTML($rpOrganizationName)</span>
                        #end
                    </p>
                #end
                #if ($serviceDescription)
                    <p style="margin-top: 10px;">
                        #springMessageText("idp.attribute-release.serviceDescriptionLabel", "Description as provided by this service:")<br>
                        <span class="service_description">$encoder.encodeForHTML($serviceDescription)</span>
                        <br>
                    </p>
                #end
                #if ($informationURL)
                    <p style="margin-top: 10px;">
                        <a href="$informationURL">#springMessageText("idp.attribute-release.informationURLLabel", "Additional information about the service")</a>
                    </p>
                #end
                <div id="attributeRelease">
                    <table>
                        <thead>
                            <tr>
                                <th colspan="3">
                                    #springMessageText("idp.attribute-release.attributesHeader", "Information to be Provided to Service")
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            #foreach ($attribute in $attributeReleaseContext.getConsentableAttributes().values())
                                <tr>
                                    <td>$encoder.encodeForHTML($attributeDisplayNameFunction.apply($attribute))</td>
                                    <td>
                                        #foreach ($value in $attribute.values)
                                            <strong>$encoder.encodeForHTML($value.getDisplayValue())</strong>
                                            <br>
                                        #end
                                    </td>
                                    <td style="vertical-align: top">
                                        #if ($attributeReleaseFlowDescriptor.perAttributeConsentEnabled)
                                            #set ($inputType = "checkbox")
                                        #else
                                            #set ($inputType = "hidden")
                                        #end
                                        <input id="$attribute.id" type="$inputType" name="_shib_idp_consentIds" value="$encoder.encodeForHTML($attribute.id)" checked>
                                    </td>
                                </tr>
                            #end
                        </tbody>
                    </table>
                </div>
                #if ($privacyStatementURL)
                    <p style="margin-top: 10px;">
                        <a href="$privacyStatementURL">#springMessageText("idp.attribute-release.privacyStatementURLLabel", "Data privacy information of the service")</a>
                    </p>
                #end
                <div style="float:left;">
                    <p>
                        #springMessageText("idp.attribute-release.confirmationQuestion", "The information above would be shared with the service if you proceed. Do you agree to release this information to the service every time you access it?")
                    </p>
                    #if ($attributeReleaseFlowDescriptor.doNotRememberConsentAllowed || $attributeReleaseFlowDescriptor.globalConsentAllowed)
                        <div id="generalConsentDiv" style="display: block; background-color: #F6F6F6;border: 1px gray solid; padding: 10px; width: 92%;">
                        #springMessageText("idp.attribute-release.consentMethod", "Select an information release consent duration:")
                    #end
                    #if ($attributeReleaseFlowDescriptor.doNotRememberConsentAllowed)
                        <p>
                            <input id="_shib_idp_doNotRememberConsent" type="radio" name="_shib_idp_consentOptions" value="_shib_idp_doNotRememberConsent">
                            #springMessageText("idp.attribute-release.doNotRememberConsent", "Ask me again at next login")
                            <ul>
                                <li>#springMessageText("idp.attribute-release.doNotRememberConsentItem", "I agree to send my information this time.")</li>
                            </ul>
                        </p>
                    #end
                    #if ($attributeReleaseFlowDescriptor.doNotRememberConsentAllowed || $attributeReleaseFlowDescriptor.globalConsentAllowed)
                        <p>
                            <input id="_shib_idp_rememberConsent" type="radio" name="_shib_idp_consentOptions" value="_shib_idp_rememberConsent" checked>
                            #springMessageText("idp.attribute-release.rememberConsent", "Ask me again if information changes")
                            <ul>
                                <li>#springMessageText("idp.attribute-release.rememberConsentItem", "I agree that the same information will be sent automatically to this service in the future.")</li>
                            </ul>
                        </p>
                    #end
                    #if ($attributeReleaseFlowDescriptor.globalConsentAllowed)
                        <p>
                            <input id="_shib_idp_globalConsent" type="radio" name="_shib_idp_consentOptions" value="_shib_idp_globalConsent">
                            #springMessageText("idp.attribute-release.globalConsent", "Do not ask me again")
                            <ul>
                                <li>#springMessageText("idp.attribute-release.globalConsentItem", "I agree that <strong>all</strong> of my information will be released to <strong>any</strong> service.")</li>
                            </ul>
                        </p>
                    #end
                    #if ($attributeReleaseFlowDescriptor.doNotRememberConsentAllowed || $attributeReleaseFlowDescriptor.globalConsentAllowed)
                        #springMessageText("idp.attribute-release.consentMethodRevoke", "This setting can be revoked at any time with the checkbox on the login page.")
                        </div>
                    #end
                    <p style="text-align: center;">
                        <input type="submit" name="_eventId_AttributeReleaseRejected" value="#springMessageText("idp.attribute-release.reject", "Reject")" style="margin-right: 30px;">
                        <input type="submit" name="_eventId_proceed" value="#springMessageText("idp.attribute-release.accept", "Accept")">
                    </p>
                </div>
            </div>
        </form>
    </body>
</html>
