* {
    margin: 0;
    padding: 0;
}
header, footer, section, nav {
    display: block;
}
html, body {
    height: 100%;
}
body {
  font-family:'Lato', sans-serif;
  font-weight:400;
  font-size:12px;
  color:#54585a;
}
a:link,
a:visited {
    text-decoration: none;
    color: #00a9e0;
}
a:hover {
  color:#ff141e;
}
img {
    max-width: 100%;
    margin-bottom: 12px;
}
div.content {
  max-width:1000px;
  min-width:620px;
  padding:0 20px;
  box-sizing: border-box;
  margin:0 auto;
  position:relative;
  z-index:2;
}

.error {
  color:#ff141e;
}
div.alert {
  background:#fff1d2;
  color:#ffb81c;
  border:1px solid #ffb81c;
  border-bottom-left-radius:6px;
  border-top-right-radius:6px;
  padding:10px;
  margin-bottom:10px;
}
div.error {
  background:#ffd0d2;
  color:#ff141e;
  border:1px solid #ff141e;
  border-bottom-left-radius:6px;
  border-top-right-radius:6px;
  padding:10px;
  margin-bottom:10px;
}
div.success {
  background:#edf7e0;
  color:#a3d963;
  border:1px solid #a3d963;
  border-bottom-left-radius:6px;
  border-top-right-radius:6px;
  padding:10px;
  margin-bottom:10px;
}

header {
  background:#dddede;
  height:93px;
}
header div.content {
  height:93px;
  z-index:9;
}
header h1 {
  margin:0;
  float:left;
  text-indent:-10000px;
  width:133px;
  height:68px;
  padding-top:12px;
  background:url(../../images/logo.png) bottom left no-repeat;
}
footer {
  background:#eee;
  color:#6f7477;
  clear:both;
  display:block;
  padding:20px 0;
}
footer p {
  color:#bbbcbd;
  text-align:center;
  clear:both;
}

div.box {
  width:540px;
  padding:20px 20px 25px 20px;
  background:#eee;
  border-top-right-radius:25px;
  border-bottom-left-radius:25px;
  margin:20px auto 70px auto;
}

h2,h3,h4 {
  font-weight:300;
  margin:0 0 0.5em 0;
  padding:0;
}
h2 {
  font-size:1.7em;
}
h3 {
  font-size:1.4em;
}
h4 {
  font-size:1.2em;
}
p {
  font-size:12px;
}

form {
  margin:0;
  padding:0;
}
.form-left, .form-right {
  line-height:38px;
  height:38px;
  margin-bottom:5px;
}
.form-left {
  width:348px;
  float:left;
  clear:both;
}
.form-left input, .form-left .button, .form-left button {
  width:348px;
}
.form-right {
  width:186px;
  float:right;
}
.form-right input, .form-right .button, .form-right button {
  width:186px;
}
.form-large {
  height:78px;
}
.form-large .button, .form-large button, .form-large input {
  margin-top:40px;
}
form:after {
  content: " ";
  display: table;
  clear: both;
}
input,
select,
textarea,
button {
  font-family:'Lato', sans-serif;
  font-weight:normal;
  font-size:12px;
  color:#54585a;
}
input[type="text"],input[type="password"] {
  font-size:14px;
  border:2px solid #bbbcbd;
  padding:4px 8px;
  margin:0;
  border-top-left-radius:5px;
  border-bottom-right-radius:5px;
  box-sizing: border-box;
  height:38px;
}
input[type="checkbox"] {
  display:inline-block;
  width:auto;
}
button, .button {
  box-sizing: border-box;
  border:0;
  margin:0;
  padding:0;
  border-radius: 5px;
  height:38px;
  line-height: 38px;
  background:#00a9e0;
  color:#fff !important;
  font-size:16px;
  font-weight:300;
  position: relative;
  text-align: center;
  display: inline-block;
}
a.button:hover {
  color:#fff;
}
button i, .button i {
  position: absolute;
  right:8px;
  top:9px;
  display:block;
}
button.green {
  background-color:#a3d963;
}
.orange {
  color:#ff671f !important;
}
a.grey, .grey {
  color:#54585a;
}